body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
}

#banner {
    background: url("img/logo02.svg");
    background-size: cover;
    margin: 10px 0 0 0;
    height: auto;
    width: 95px;
}

.clickable-row:hover {
    cursor: pointer;
}

.borderless td, .borderless th, .borderless li{
    border: none;
    border-top: none !important;
}

.list-items {
    display: block;
    Content: " ";
    width: 100%;
    min-height: 40px;
}
