@model IEnumerable<webplatform.Models.Board>

@{
    ViewBag.Title = "Projekter";
}

<div class="jumbotron">
    <h1>Hej {bruger}</h1>
    <p class="lead">Her er en liste over dine tilmeldte projekter</p>
</div>

<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <input width="100%" id="search" type="search" name="search" value="@ViewBag.search" class="form-control" placeholder="Søg...">
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <a id="new-board" data-fancybox-type="iframe" href="@Url.Content("~/Form/AddBoard")">Opret nyt projekt</a>
            <div id="hidden-content"></div>
            <div id="get-board"></div>
        </div>
</div>

@section scripts
{
    <script>
        var SelectedRow = 0;
        var timer = setInterval(Board, 1500);
        Board();

        function Board() {
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Iframe/Board")",
                data: { search: $("#search").val() },
                success: function(data) {
                    $("#get-board").html(data);
                }
            });
        }

        function TableRowTemplate(input) {
            var content = '<td>' + input.title + '</td><td>' + input.description + '<a href="@Url.Content("~/Form/Board/")' + input.id + '" data-fancybox-type="iframe" class="editing pull-right"></a></td>';
            return content;
        }

        //jQuery fnidder

        $(document).on("click", ".delete", function(e) {
            e.stopPropagation();
            e.preventDefault();
            var con = confirm("Skal vi slette boardet " + $(this).parent().parent().children("td:first").text().trim() + "?");
            if (con) {
                $.ajax({
                    type: "DELETE",
                    url: $(this).attr("href")
                });
            }
        });

        $(document).on("click", ".clickable-row", function() {
            window.document.location = $(this).data("href");
        });

        $(document).on("click", 'tr.clickable-row a.editing', function(e) {

            SelectedRow = $(this).parent().parent().index();

            e.stopPropagation();
            e.preventDefault();

            $(this).fancybox({
                fitToView: false,
                autoSize: false
            });
        });

        $("a#new-board").fancybox({
            fitToView: false,
            autoSize: false
        });
    </script>
}
