<div class="row" id="BoardContent">
</div>
@section scripts
{
    <script>
        function test(msg) {
            alert(msg);
        }

        var timer = setInterval(Board, 1500);
        Board();

        function Board() {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Iframe/JobBoard/")@ViewContext.RouteData.Values["id"]",
                success: function(data) {
                    $("#BoardContent").html(data);
                }
            });
        }

        $(document).on("click", ".delete", function (e) {

            e.stopPropagation();
            e.preventDefault();
            var con = confirm("Skal vi slette " + $(this).attr("type") + " " + $(this).attr("text") + "?");
            if (con) {
                $.ajax({
                    type: "DELETE",
                    url: $(this).attr("href")
                });
            }
        });

        $(document).ready(function() {

            /*Fancybox*/
            $("a#new-job, a.editing, a#new-card").fancybox({
                fitToView: false,
                autoSize: true
            });
            /*Fancybox END*/

            /*Draggable JQuery UI*/
            $(".list-items").sortable({
                revert: true
            });
            $("ul, li").disableSelection();
            $("#content").sortable({ revert: true });
            $(".feet").draggable({
                connectToSortable: ".list-items",
                revert: "invalid"
            });

            $(document).on("mouseup", ".feet", function() {
                //Ajax request to update which job and weight we have been placed in.
            });

            $(document).on("mouseup", ".list-items", function () {
                //Ajax request to update which job and weight we have been placed in.
            });

            /*Draggable JQuery UI END*/

            /*JQUERY*/
            @*$(document).on("click", ".main-body div.editing", function() {
                var parent = $(this).parent().parent();
                var content = $(this).parent();
                var hidden = '<input type="hidden" class="form-control" name="hiddenId" value="' + content.attr("data-id") + '"/>';
                parent.html('<input class="form-control" id="job-header" name="job-header" type="text" value="' + content.text().trim() + '" />' + hidden);
                parent.children("input").focus();
            });

            $(document).on("keypress", "#job-header", function(e) {
                if (e.which == 13) {
                    var parent = $(this).parent();
                    editJobTitle(parent, $(this).val());
                }
            });

            $(document).on("focusout", "#job-header", function(e) {
                var parent = $(this).parent();
                editJobTitle(parent, $(this).val());
            });

            function editJobTitle(parent, value) {
                $.ajax({
                    type: "PUT",
                    url: "@Url.Content("~/api/Database/editJobTitle")",
                    data: { id: parent.children("input[type='hidden']").val(), BoardId: "@ViewContext.RouteData.Values["id"]", title: "value" },
                success: function(data) {
                    parent.html('<h3 class="list-group-item-heading">' + value + '<div class="editing pull-right"></div></h3>');
                }
            });
            }*@
            /*JQUERY END*/

        });
    </script>
}

